
_output/*
_projects/*

###################################################
#SHARPMAKE BEGIN
#Ignore files related to the debug solution of sharpmake
sharpmake/sharpmakeexample/**/*.csproj
sharpmake/sharpmakeexample/**/*.user
sharpmake/sharpmakeexample/**/*.sln
sharpmake/sharpmakeexample/**/*.bin
sharpmake/sharpmakeexample/**/obj/*
sharpmake/sharpmakeexample/**/output/*
sharpmake/sharpmakeexample/**/.vs/*
sharpmake/sharpmakeexample/**/Properties/*

#SHARPMAKE END
##################################################

#EXCEPTIONS
!extern/**