
_output/*
_projects/*

###################################################
#SHARPMAKE BEGIN
#Ignore files related to the debug solution of sharpmake
sharpmake/sharpmakeFiles/**/*.csproj
sharpmake/sharpmakeFiles/**/*.user
sharpmake/sharpmakeFiles/**/*.sln
sharpmake/sharpmakeFiles/**/obj/*
sharpmake/sharpmakeFiles/**/output/*
sharpmake/sharpmakeFiles/**/.vs/*
sharpmake/sharpmakeFiles/**/Properties/*

#Make exception for the files in sharpmakeApplication
!sharpmakeApplication/*
#SHARPMAKE END
##################################################

#EXCEPTIONS
!extern/**