
_output/*
_projects/*

###################################################
#SHARPMAKE BEGIN
#Ignore files related to the debug solution of sharpmake
sharpmake/sharpmakeFiles/**/*.csproj
sharpmake/sharpmakeFiles/**/*.user
sharpmake/sharpmakeFiles/**/*.sln
sharpmake/sharpmakeFiles/**/*.bin
sharpmake/sharpmakeFiles/**/obj/*
sharpmake/sharpmakeFiles/**/output/*
sharpmake/sharpmakeFiles/**/.vs/*
sharpmake/sharpmakeFiles/**/Properties/*
sharpmake/sharpmakeApplication/bin/*

#SHARPMAKE END
##################################################

#EXCEPTIONS
!extern/**