#output folder
#The purpose of this file is to submit the output folder and save the repository's folder structure.
#This folder should remain empty and only be used by the output of the solutions
*
!.gitignore
